absl-py==0.13.0
addict==2.4.0
alembic==1.7.7
anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
async-generator==1.10
attrs==21.4.0
Babel==2.10.3
backcall==0.2.0
bleach==4.1.0
brotlipy==0.7.0
cachetools==4.2.2
certifi==2021.5.30
certipy==0.1.3
cffi==1.14.5
chardet==4.0.0
cmake==3.21.0
cmake-build-extension @ git+https://github.com/diegoferigo/cmake-build-extension@bb836e445b743ace473e1c9a5666cb69e88aa922
contextvars==2.4
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1616851478720/work
cycler==0.10.0
dataclasses==0.8
decorator==5.1.1
defusedxml==0.7.1
einops==0.3.0
entrypoints==0.4
future==0.18.2
gitdb==4.0.7
GitPython==3.1.18
google-auth==1.32.1
google-auth-oauthlib==0.4.4
greenlet==1.1.2
grpcio==1.38.1
h5py @ file:///tmp/build/80754af9/h5py_1593454121459/work
idna==2.10
imageio==2.15.0
immutables==0.18
importlib-metadata==4.6.1
importlib-resources==5.4.0
inplace-abn==1.1.0
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.17.2
Jinja2==3.0.3
joblib==1.0.1
json5==0.9.8
jsonpatch==1.32
jsonpointer==2.1
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyter-server==1.13.1
jupyter-telemetry==0.1.0
jupyterhub==2.3.1
jupyterlab==3.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
kiwisolver==1.3.1
Mako==1.1.6
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1613407855456/work
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
mmcv-full==1.3.10
mmsegmentation @ git+https://github.com/open-mmlab/mmsegmentation.git@fa1554f1aaea9a2c58249b06e1ea48420091464d
nbclassic==0.3.5
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.5
ninja==1.10.0.post3
notebook==6.4.10
numpy==1.19.5
oauthlib==3.1.1
olefile==0.46
opencv-python==4.5.3.56
packaging==21.3
pamela==1.0.0
pandocfilters==1.5.0
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
pip==21.1.3
prettytable==2.1.0
prometheus-client==0.14.1
prompt-toolkit==3.0.30
protobuf==3.17.3
ptflops==0.6.6
pthflops==0.4.2
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.12.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
pyrsistent==0.18.0
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1610291458349/work
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
python-json-logger==2.0.2
pytorch-lightning==0.7.1
pytz==2022.1
PyYAML==5.4.1
pyzmq==22.1.0
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scikit-learn==0.24.2
scipy==1.5.4
segformer-pytorch==0.0.5
Send2Trash==1.8.0
setuptools==52.0.0.post20210125
setuptools-scm==6.0.1
six==1.16.0
smmap==4.0.0
sniffio==1.2.0
somepackage==1.2.3
SQLAlchemy==1.4.39
tabulate==0.8.10
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.5.1
terminado==0.12.1
testpath==0.6.0
thop @ git+https://github.com/Lyken17/pytorch-OpCounter.git@14ffb094651ce62b22f4fa2d75dbc9c488f9364c
threadpoolctl==2.1.0
timm==0.4.12
torch==1.7.1+cu92
torch-poly-lr-decay @ git+https://github.com/cmpark0126/pytorch-polynomial-lr-decay.git@9251dd7190eccfb1cd08e1ebce52e03cff0cb58a
torch-summary==1.4.5
torchaudio==0.7.2
torchfile==0.1.0
torchvision==0.8.2+cu92
tornado==6.1
tqdm==4.61.2
traitlets==4.3.3
typing-extensions==3.10.0.0
urllib3==1.26.5
utils==1.0.1
visdom==0.1.8.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.1.0
Werkzeug==2.0.1
wheel==0.36.2
yapf==0.31.0
zipp==3.5.0
